################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin/final-project-diveyanand22_debug.exp
/obj/Debug/vc140.pdb
/obj/Debug/ofApp.obj
/obj/Debug/main.obj
/obj/Debug/icon.res
/obj/Debug/final-project-diveyanand22.vcxprojResolveAssemblyReference.cache
/obj/Debug/final-project-diveyanand22.log
/obj/Debug/final-pr.7FD42DF7.tlog/rc.write.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/rc.read.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/rc.command.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/link.write.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/link.read.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/link.command.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/final-project-diveyanand22.write.1u.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/final-project-diveyanand22.lastbuildstate
/obj/Debug/final-pr.7FD42DF7.tlog/CL.write.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/CL.read.1.tlog
/obj/Debug/final-pr.7FD42DF7.tlog/CL.command.1.tlog
/icon.rc
/icon.aps
/final-project-diveyanand22.vcxproj.user
/final-project-diveyanand22.vcxproj.filters
/final-project-diveyanand22.vcxproj
/final-project-diveyanand22.VC.VC.opendb
/final-project-diveyanand22.VC.db
/final-project-diveyanand22.sln
/final-project-diveyanand22/final-project-diveyanand22.vcxproj.filters
/final-project-diveyanand22/final-project-diveyanand22.vcxproj
/final-project-diveyanand22/final-project-diveyanand22.VC.db
/final-project-diveyanand22/final-project-diveyanand22.sln
/final-project-diveyanand22/.vs/final-project-diveyanand22/v14/.suo
/final-project-diveyanand22/.vs/final-project-diveyanand22/v14
/bin/Zlib.dll
/bin/ssleay32.dll
/bin/libeay32.dll
/bin/glut32.dll
/bin/freetype.dll
/bin/FreeImage.dll
/bin/fmodexL.dll
/bin/fmodex.dll
/bin/final-project-diveyanand22_debug.pdb
/bin/final-project-diveyanand22_debug.lib
/bin/final-project-diveyanand22_debug.ilk
/bin/final-project-diveyanand22_debug.exe
/bin/assimp.dll
/addons.make
/.vs/final-project-diveyanand22/v14/.suo
/.vs/final-project-diveyanand22/v14
/bin/data
